.btn.btn-primary {
    margin-bottom: 0;
    width: 33vw;
    position: fixed;
    bottom: 3vw;
    left: 0;
    z-index: 1;

}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
    border:unset;
    background-color: unset;
    color:unset;
}