.submenu-group {
    width: 490px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 60px;
}

.submenu-blocks a {
    text-decoration-color: none;
    display: block;
    float: right;
    clear: both;
    height: 60px;
    text-align: center;
    width: 100%;
    color: #a68080;
    line-height: 60px; 
}
.submenu-blocks:hover a {
    color: #313b47;
}
.submenu-blocks {
    text-decoration: none;
    display:block;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    float: left;
    background: #313b47;
    width: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.submenu-blocks:hover {
    background: #a68080;
}
@media (max-width: 680px){
    .submenu-group {
        top: 60px;
        width: 100%;
        left: 0;
    }
    .submenu-blocks a {
        color: #313b47;
    }
    .submenu-blocks:hover a {
        color: #a68080;
    }
    .submenu-blocks {
        background: #a68080;
    }
    .submenu-blocks:hover {
        background: #313b47;
    }
}
