@import "Color";
@import url('https://fonts.googleapis.com/css?family=Abel');
body {
    text-transform: capitalize;
    font-family: 'Abel', sans-serif;
    background-color: $color-tertiary;
    margin: 0;
    padding-top: 60px;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}
.view {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}



.fade-enter-active,
.fade-leave-active {
    transition: all 0.2s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}