.left-signalr {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width:550px;  
    background: #c0c8d1; 
}
@media (max-width: 550px) {
    .left-signalr {
        width: 100%;
    }
}
.chat-service {
position: absolute;
    width:90%;
    height: 40px;
    bottom: 20px;
    left: 5%;
}


.message-form {
    width: 100%;
    display:block;
}

.message-textarea {
    display:block;
    margin:0;
    float:left;
    width:87%;
    height:40px;
    border:none;
    background:rgba(255, 255, 255, .5);
    color:#313b47 ;
    font-style: italic;
}
.message-textarea:focus {
    border:none;
    outline: none;
}
.send-chat {
    margin:0;
    align-items: unset;
    display:block;
    float:right;
    width:13%;
    height:40px;
    border: none;
    padding: 0;
    background: #313b47;
    color: #a68080;
    opacity: 1;
}
.send-chat:hover {
    background: #606c76;
    color: #313b47;
    cursor: pointer;
}
.chat-display {
    position: absolute;
    bottom: 60px;
    left:5%;
    width:90%;
    height: 40px;
    background: rgba(255, 255, 255, .8);
    padding-top:10px;
}
.sad-chat {
    text-align: center;
    font-style: italic;
    display: block;
    position: absolute;
    top:0;
    width:100%;
    line-height: 40px;
}
.message-header {
    position: absolute;
    top: 0;
    width: 100%;
    height:40px;
    background: #313b47 ;
    color: #a68080;
}
.message-tag {
    height: 40px;
    width: 10%;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    float:left;
}
.message-title {
    height: 40px;
    width: 45%;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    float:right;
}
.popular-mesages {
    width: 100%;
    position: absolute;
    bottom:0;
}
.block-header {
    margin: 0;
    color: #313b47;
    display: block;
    width: 90%;
    text-align: left;
    position: relative;
    top: 22px;
    left: 5%;
    font-size: 20px;
    font-weight: unset;
    border-bottom: solid #313b47 3px;
}

